body {
  color: #444;
  margin: 0;
  padding: 10px;
  background: #eee;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2em; }

h1, h2, h3 {
  font-weight: 100;
  line-height: 1.2em;
  margin: 0 0 0.5em 0; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 1.8em; }

p {
  line-height: 1.4em; }

.wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto; }
